@import url('https://fonts.googleapis.com/css?family=Nunito');

.weekPage{
  display: flex;
  background-color: #dadce0;
  color: black;
  font-family: Nunito;
}

.dayColumn{
  width: 100vw;
}

.titleCell {
  border: 1px solid #9aa0aa;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 5em;
  background-color: white;
}

.fullCell {
  /* line-height: 5em; */
  text-align: center;
  margin: 1px;
  border: 1px solid #046c99;
  background-color: #0898db;
  color: white;
  border-radius: 3px;
  height: 5em;
}

.fullCellLong {
  /* line-height: 5em; */
  text-align: center;
  margin: 1px;
  border: 1px solid #046c99;
  background-color: #0898db;
  color: white;
  border-radius: 3px;
  height: 7.5em;
}

.fullCellShort {
  /* line-height: 5em; */
  text-align: center;
  margin: 1px;
  border: 1px solid #046c99;
  background-color: #0898db;
  color: white;
  border-radius: 3px;
  height: 2.5em;
}

.weekCell {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 5em;
  background-color: #28AD60;
  width: 100%;
}

.weekCellLong {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 7.5em;
  background-color: #28AD60;
}

.weekCellShort {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 2.5em;
  width: 100%;
  background-color: #28AD60;
}


.sessionsList {
  text-align: left;
  flex-direction: column;
  display: flex;
  background-color: #e3eeff;
  width: 100%;
  height: 100%;
  color: black;
}

.sessionCell {
  margin: 1px;
  border: 1px solid #046c99;
  background-color: #0898db;
  color: white;
  border-radius: 3px;
  height: 100%;
  font-size: 0.8em;
  overflow: hidden;
}

.sessionTitleTag {
  display: flex;
  justify-content: space-between;
  background-color: #046c99;
}

.sessionDataTag {
  display: flex;
  flex-wrap: wrap;
}

.studentTag {
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 3px;
  font-size: 0.9em;
  border: 1px solid #61d0ff;
  background-color: #61d0ff;
  color: black;
  border-radius: 10px;
  height: 1.5em;
}

.CoachTag {
  padding-right: 3px;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.sessionTopicTag {
  margin-right: 5px;
  color: rgb(255, 185, 56);
}

.fullCellPopup{
  position:absolute;
  width: 14vw;
  background-color: white;
  border: 2px solid black;
}

.emptyCell {
  height: 5em;
  border: 1px solid #dadce0;
  background-color: white;
}

.emptyCellShort {
  background-color: rgb(255, 255, 255);
  height: 2.5em;
  width: 100%;
  border: 1px solid #dadce0;
}

.topBar{
  background-color: #1C1A36;
  color: white;
  height: 1.5em;
  border: 1px solid #1C1A36;
  text-align: center;
  font-size: 3em;
}

.optionBar {
  background-color: white;
  height: 4em;
  display: flex;
  justify-content: space-around;
}

.searchBar {
  margin: 20px;
  border: 1px solid black;
  background-color: white;
  color: black;
  border-radius: 8px;
  width: 200px;
  text-align: left;
}
