.weekPage{
  display: flex;
  background-color: black;
  color: white;
}

.dayColumn{
  width: 100vw;
}

.titleCell {
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 5em;
  background-color: #28AD60;
  font-family: Arial, Helvetica, sans-serif;
}

.weekCell {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 5em;
  background-color: #28AD60;
  font-family: Arial, Helvetica, sans-serif;
}

.emptyCell {
  height: 5em;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #DBEEE3;
}

.sessionsList {
  flex-direction: column;
  display: flex;
  background-color: #e3eeff;
  width: 100%;
  height: 100%;
  color: black;
}

.sessionCell {
  border: 1px solid black;
  border-radius: 3px;
  height: 100%;
  font-size: 1em;
  overflow: hidden;
}

.sessionTypeTag {
  padding: 1px;
  margin: 1px;
  background-color: #bcd7ff;
  border: 1px solid black;
  border-radius: 3px;
}

.sessionCoachTag {
  padding: 2px;
}

.fullCellPopup{
  position:absolute;
  width: 14vw;
  background-color: white;
  border: 2px solid black;
}
